*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    color: white;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: relative;
}

.elem{
    border-bottom: 3px solid white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.elem h1{
    font-size: 60px;
    z-index: 9;
    mix-blend-mode: difference;
    position: relative;
}

.elem img{
    width: 60px;
    
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    /* top :8 0%; */
    transition: all linear 0.3s;
    /* transform: translate("-50%,-50%"); */
    opacity: 0;
}